<h1>Editing price log</h1>

<%= render "form", price_log: @price_log %>

<br>

<div>
  <%= link_to "Show this price log", @price_log %> |
  <%= link_to "Back to price logs", price_logs_path %>
</div>
